%dl.accordion{"data-accordion" => ""}
  %dd.accordion-navigation
    %a{href: "#show-file-#{file.id}"} 
      .row
        .small-1.columns
        
        .small-3.columns 
          %dl
            %dt uploaded
            %dd= time_ago_in_words(file.created_at) + " ago."  
        .small-3.columns 
          %dl
            %dt name
            %dd= truncate(file.derived_name, length: 17)
        .small-2.columns
        
        .small-2.columns
          .label= file.aasm_state.humanize.downcase
    .content{ "id" => "show-file-#{file.id}" }
      .small-2.columns
        = button_to "delete", content_path(id: file.id), :method => :delete, class: "button alert" 



      %dl.tabs{"data-tab" => ""}
        %dd
          %a{href: "#mapping-#{file.id}"} Step 1: Choose a target model
        %dd
          %a{href: "#legend-#{file.id}"} legend
        %dd
          %a{href: "#status-#{file.id}"} info
        %dd
          %a{href: "#actions-#{file.id}"} actions
      .tabs-content
        = render partial: "status",   locals: { file: file }     
        = render partial: "legend",   locals: { file: file }     
        = render partial: "mapping",  locals: { file: file }     
        = render partial: "actions",  locals: { file: file }     
        



