%dl.accordion{"data-accordion" => ""}
  %dd.accordion-navigation
    %a{href: "#show-file-#{file.id}" } 
      .row
        / .small-2.columns 
        /   %dl
        /     %dt uploaded
        /     %dd= time_ago_in_words(file.created_at) + " ago."  
        .small-2.columns 
          %dl
            %dt file
            %dd= File.basename(file.flat_file.to_s)
        .small-2.columns 
          %dl
            %dt name
            %dd
              = file.name.present? ? file.name : "no name"
          
        .small-2.columns
          #state-not-imported 
            = file.aasm_state.humanize.downcase
        
    .content{ "id" => "show-file-#{file.id}", "class" => "#{tab_active?(file.aasm_state)}" }

      %dl.tabs{"data-tab" => ""}
        %dd= link_to "status", "#status-#{file.id}"
        %dd= link_to "mappings", "#mapping-#{file.id}"
        %dd= link_to "legend", "#legend-#{file.id}"
        %dd= link_to "actions", "#actions-#{file.id}"
      .tabs-content
        = render partial: "status",   locals: { file: file }     
        = render partial: "legend",   locals: { file: file }     
        = render partial: "mapping",  locals: { file: file }     
        = render partial: "actions",  locals: { file: file }     
        



