%dl.accordion{"data-accordion" => ""}
  %dd.accordion-navigation
    

    %a{href: "#show-file-#{file.id}" } 
      .row  
        .small-2.columns 
          %dl
            %dt file
            %dd= File.basename(file.flat_file.to_s)
        .small-2.columns 
          %dl
            %dt name
            %dd
              = file.name.present? ? file.name : "no name"
        .small-2.columns 
          %dl
            %dt status
            %dd
              .label{ class: "state-#{file.aasm_state}" }= file.aasm_state.humanize.downcase
        
    .content{ "id" => "show-file-#{file.id}", class: active_element?(index) }
      .row
        .panel.callout
          .row
            = render partial: "content_actions", locals: { file: file }

      .small-12.columns
        = render partial: "mapping",  locals: { file: file }  
    
      

    


