.small-12.columns
  .row.panel.callout
    .new-content-form
      %legend Step 1: Upload a Spreadsheet
      = simple_form_for :originable, url: { controller: "contents"}, :html => {:multipart => true} do |f|
        = @originable.errors.messages.first
        = f.input :name, placeholder: "Optional -- if not supplied, we'll try to use the existing spreadsheet name"
        = f.label :flat_file
        = f.file_field :flat_file
        = f.submit "Upload spreadsheet", class: "button"