= form_for :originable, url: { controller: "contents"}, :html => {:multipart => true} do |f|
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :flat_file
    = f.file_field :flat_file
  %p= f.submit "Upload file", class: "button"