.content{ "id" => "legend-#{file.id}"}
  .small-6.columns
    %h3 Mappings
    %table
      %thead
        %tr 
          %th id
          %th target model
          %th legend name
          %th target object count
          %th Actions
      %tbody
        - file.mappings.each do |m|
          %tr
            %td= m.id
            %td= m.targetable_model
            %td
              - if m.legend 
                = m.legend
              - else 
                = link_to "new legend", new_legend_path(mapping_id: m.id)
            %td= link_to "destroy", mapping_path(id: m.id), method: "delete"
  %br
  .small-12.columns
    .small-6.columns
      = link_to "Create legend", new_legend_path(originable_id: file.id), class: "button"
    .small-6.columns
      %label
        Select Legend
      %select
        - @legends.each do |legend|
          %option= legend.name
