.row
  .expand
  %table
    %thead
      %tr
        %td
          = "file headers".upcase
        - file.list_headers.each do |header|
          %td.text-center= header
    %tbody
      - file.mappings.each do |m|
        = form_tag(m, method: 'patch') do 
          %tr{ id: "file-mapping-#{m.id}" }
            %td 
              = m.targetable_model.classify
            - file.list_headers.each do |header|
              %td
                = mapping_select_tag(header, m)
            %td
              = submit_tag "map!", class: "button success"
.row
  = render partial: "new_target", locals: { file: file }
/ %ul.tabs.vertical{"data-tab" => ""}
/   - file.mappings.each do |m|
/     %li.tab-title
/       %a{:href => "#panel-mapping-#{m.id}"}
/         = m.targetable_model
/ .tabs-content
/   - file.mappings.each do |m|
/     .content{ "id" => "panel-mapping-#{m.id}" }
/       .small-6.columns= parent_dependency_notice(m.parent_models)
