.row
  .expand
  %table
    %thead
      %tr
        %td
          = "file headers".upcase
        - file.list_headers.each do |header|
          %td.text-center= header
    %tbody
      - file.mappings.each do |m|
        / # = m.targetable_model.classify.constantize.associated_cols
        = fields_for m do |f|
          .blahdedah
            %tr
              %td 
                = m.targetable_model.classify
              - file.list_headers.each do |header|
                %td
                  = f.select(:data, header, ["one", "two"])
                  / = f.select :data, m.targetable_model.classify.constantize.targetable
.row
  = render partial: "new_target", locals: { file: file }
/ %ul.tabs.vertical{"data-tab" => ""}
/   - file.mappings.each do |m|
/     %li.tab-title
/       %a{:href => "#panel-mapping-#{m.id}"}
/         = m.targetable_model
/ .tabs-content
/   - file.mappings.each do |m|
/     .content{ "id" => "panel-mapping-#{m.id}" }
/       .small-6.columns= parent_dependency_notice(m.parent_models)
