.row
  - file.mappings.each do |mapping|
    .div{ id: "file-mapping-#{mapping.id}" }
      = form_tag(mapping, method: 'patch') do
        - target = klassify(mapping.targetable_model.to_s)
        - models = mapping.targetable_order
        .row
          .small-1.columns
            .label 
              = mapping.id
        
          .small-11.columns
            .row.panel
              .small-4.columns
                .label= target
              .small-7.columns
                - target.targetable_attrs.each do |col|
                  .row
                    .small-3.columns
                      .right= col + " => "
                    .small-9.columns
                      = mapping_form_select(mapping, col)

            - mapping_form_builder(nil, models).each do |array|
              .row
                %br
                belongs to: 
                .label
                  = model_tree(array)
                .row
              %br
              .row.panel
                - array.each do |parent|
                  .row
                    .small-4.columns
                      .label= parent.to_s.classify
                      find or create by
                    .small-7.columns
                      - parent.to_s.classify.constantize.targetable_attrs.each do |col|
                        .row
                          .small-3.columns
                            .right= col + " => "
                          .small-9.columns
                            = mapping_form_select(mapping, col, array, parent)


          .small-11.columns
            .row.panel

              .has-tip{"aria-haspopup" => "true", "data-tooltip" => "", title: event_description("write legend for this model")}
                %span
                  = submit_tag map_legend_button(mapping), class: "button expand success"
