.content{ "id" => "status-#{file.id}"}
  .small-12.columns
    .small-8.columns
      .row
        .small-3.columns.text-right
          uploaded at:
        .small-9.columns
          = time_ago_in_words(file.created_at) + " ago."
      .row
        .small-3.columns.text-right
          transferred at:
        .small-9.columns
      .row
        .small-3.columns.text-right
          processed at:
        .small-9.columns
    .small-4.columns
      .panel
        .text-center
          permissible actions
        %hr
        - file.possible_events.each do |event|
          - if event == :target 
            = form_for(@mapping, url: { controller: "mappings", action: "create", originable_id: file.id}) do |f|
              = f.hidden_field :originable_id, value: file.id
              = f.label :targetable_model
              = f.select :targetable_model, @targetable_models
              .has-tip.tip-left{"aria-haspopup" => "true", "data-tooltip" => "", :title => "Which of the above models are you targeting?"} 
                = f.submit "Select Target Model", class: "button small expand", method: :post
          - else 
            = event_button(event)