= render 'form'

.row
  - states = Buttafly.originable.aasm.states.map(&:name)
  %ul.tabs{ "data-tab" => "" }
    - states.each_with_index do |aasm_state, i|
      %li.tab-title{ "class" => "#{"active" if i == 0}" }
        %a{:href => "#content-scope-#{aasm_state}"}
          .label.info
            .label= eval("Buttafly.originable.#{aasm_state}").count
            = aasm_state 

  .tabs-content
    - states.each_with_index do |aasm_state, i|
      .content{ "id" => "content-scope-#{aasm_state}", class: "#{active_element?(i)}" }
        - eval("@contents.#{aasm_state}").each_with_index do |f, ci|
          = render 'content', file: f, index: ci


      




